<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Shiau-uen Ding, pianist</title>
  <meta name="author" content="Peter Brinkmann"/>
  <link rel="shortcut icon" href="images/favicon.ico" >
  <link rel="stylesheet" href="basic.css" type="text/css"/>
  <link rel="stylesheet" href="screen.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="print.css" type="text/css" media="print"/>
  $extra_style
  <!--
    HTML and CSS lovingly hand-crafted with vim, Cheetah, and Python;
    images and animations created with Inkscape and the GIMP
  -->
</head>
<body>
  <div id="header">
    <div id="navigation">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="bio.html">BIOGRAPHY</a></li>
        <li><a href="concerts.html">CONCERTS</a></li>
        <li><a href="repertoire.html">REPERTOIRE</a></li>
        <li><a href="recordings.html">RECORDINGS</a></li>
        <li><a href="words.html">WORDS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </div>
  </div>
  <div id="main">
    $content
  </div>
  
<!-- Google Analytics code -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-9142242-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
</body>
</html>
