body {
  font-family: Geneva, sans-serif;
}

img {
  border: 0;
}

h1, h2, h3 {
  font-style: italic;
  font-weight: normal;
}

h1 {
  font-size: large;
  margin-bottom: 1em;
}

h2 {
  margin-top: 2em;
  font-size: medium;
}

h3 {
  font-size: small;
}

div#main {
  font-size: small;
}

div#main p:first-letter {
  font-style: italic;
  font-size: medium;
}

dl.pieces dd {
  font-style: italic;
}

dl.pieces dd ul {
  margin: 0;
  padding: 0;
}

dl.pieces dd ul li {
  list-style-type: none;
}

div.footnote {
  font-size: x-small;
}

dl.performances dd {
  margin-bottom: 1em;
}

dl.performances dt {
  margin-bottom: 0.4em;
}

dl.performances dd div {
  margin-bottom: 0.3em;
}

dl.talks dd {
  margin-bottom: 1em;
}


dl.contacts dd {
  margin-bottom: 1em;
}

ul.sublinks {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

sup, sub {
  line-height: 0;
}

sup a {
  text-decoration: none;
  font-size: 10%;
}

div.image {
  margin-top: 2em;
  text-align: center;
}
